<h1>Polo Club Officers</h1>

<table class="table table-striped col-md-12" id="officers">
  <thead>
    <tr>
        <th>Position</th>    
        <th>First Name</th>
        <th>Last Name</th>
        <th>Telephone</th>
        <th>Email</th>
        <% if user_signed_in? && session[:isOfficer] %>
        <%
=begin%>
 <th>UIN</th> 
<%
=end%>
        <% end%>
    </tr>
  </thead>
  <tbody>
    <% @officers.each do |officer| %>
      <tr>
        <td>
          <%= officer.position %>
        </td>
        <td>
          <%= officer.member.std_first_name %>
        </td>
        <td>
          <%= officer.member.std_last_name %>
        </td>
        <td>
          <%= officer.member.telephone %>
        </td>
        <td>
          <%= officer.member.email %>
        </td>
        <% if user_signed_in? && session[:isOfficer] %>
        <%
=begin%>
 <td>
          <%= officer.member.uin %>
        </td> 
<%
=end%>
        <td>
        <%= link_to 'Remove', officer_path(officer), method: 'delete', data: { confirm: 'Are you sure?' } %>
        </td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>
Officer count:  <%= @officers.length %>

