<html lang="en">
  <head>
    <title>Make an Officer</title>
    <%= stylesheet_link_tag 'profile_page' %>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
    </style>
  </head>

  <body>
    <div class = "container-fluid text-center">
      <h3 id="title">Howdy! Fill out your profile below: </h3>
      <br>
      <div class = "row justify-content-center text-center">
        <%= form_with model: @officer do |form| %>
          <div class = "form-group">
            <b><%= form.label :member_id, 'Member' %></b>
            <br>
            <%= form.select :member_id, @members, { prompt: "Member" }%>
          </div>
          <div class = "form-group">
            <b><%= form.label :position, 'Position' %></b>
            <br>
            <%= form.text_field :position, placeholder: "Position" %>
          </div>
          
          <%= form.submit %>
        <% end %>
      </div>
    </div>
  </body>
</html>