<h1>Meet The Herd</h1>

<table class="table table-striped col-md-12" id="horses">
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Available?</th>
    </tr>
  </thead>
  <tbody>
    <% @horses.each do |horse| %>
      <tr>
        <td>
          <%= horse.horse_name %>
        </td>
        <td>
          <%= horse.brand_number %>
        </td>
        <td>
          <%= horse.availability %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
Horse count:  <%= @horses.length %>

<%= render "pages/backhome" %>