<h1><em><%= @horse.horse_name %></em> </h1>


<ul id="details">
  
  <li>
    Brand Number:
    <%= @horse.brand_number %>
  </li>
  <li>
    Available?
    <%= @horse.availability %>
  </li>
</ul>

<table class="table table-striped col-md-12" id="details" width="370" border="1">
  <tbody>
    <tr>
      <td width="30%">
      Brand Number:
      </td>
      <td width="70%">
      <%= @horse.brand_number %>
      </td>
    </tr>
    <tr>
      <td width="30%">
      Available?
      </td>
      <td width="70%">
      <%= @horse.availability %>
      </td>
    </tr>
    <tr>
      <td width="25%">
      Description
      </td>
      <td width="75%">
      <%= @horse.description %>
      </td>
    </tr>
  </tbody>  
</table>


<table class="table table-striped col-md-12" id="navigation">
  <tbody>
    <tr>
    <% if user_signed_in? && session[:isOfficer] %>
      <td>
        <%= button_to 'Edit', edit_horse_path(@horse), method: 'get'%>
      </td>
      <td>
        <%= button_to 'Delete', horse_path(@horse), method: 'delete', data: { confirm: 'Are you sure?' } %>
      </td>
    <% end %>
      <td>
      <%= render "horses/backhorse" %>
      </td>
    </tr>
  </tbody>
</table>
