<h1>Welcome to the TAMU Polo Club</h1>

<table class="table table-striped col-md-12" id="homepage">
  <thead>
    <tr>
      <th>  <%=link_to "Members",members_url %> </th>
      <th>  <%=link_to "Officers",officers_url %> </th>
      <th>  <%=link_to "The Herd",horses_url %> </th>
<<<<<<< HEAD
      <th>  <%=link_to "Contact Us", 'contacts/new'%></th>
=======
      <th>  <%=link_to "Contact",contact_index_url %> </th>
>>>>>>> e9067edd4809abdd6f64b56f5972a2b6da1e6e21
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


