<div class="container-fluid h-100">
  <div class="row align-items-center h-100" align="center">
    <div class="col-sm-6 mx-auto border-right">
      <div class="form-group" id = "form">
        <p>Got a question? Fill out the form below!</p>
        <%= form_for @contact do |f| %>
          <div class="col-md-6">
            <div id = "">

            </div>
            <%= f.label :name, 'Full Name', {class: "form-label text-detail"} %></br>
            <%= f.text_field  :name, required: true, class: "form-control", placeholder: "First and Last" %></br>

            <%= f.label :email, 'Email', {class: "form-label text-detail"}%></br>
            <%= f.text_field :email, required: true, class: "form-control", placeholder: "name@example.com" %></br>

            <%= f.label :message, 'Question', {class: "form-label text-detail"}%></br>
            <%= f.text_area :message, rows: 4, cols: 40, required: true, class: "form-control",
                            placeholder: "Enter your question here"%></br>
            <div class= "d-none">
              <%= f.label :nickname %>
              <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
            </div>
            <%= f.submit 'Submit', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class = "col-sm-6 mx-auto">
      <div class = "contact-details" align="center">
        <div id = "contact-1">
          <p><b>Officer Name #1</b></p>
          <p>(123)-456-7890</p>
          <p><i>name@example.com</i></p>
        </div>
        <hr>
        <div id = "contact-2">
          <p><b>Officer Name #2</b></p>
          <p>(123)-456-7890</p>
          <p><i>name@example.com</i></p>
        </div>

        <div id = "social-links">
          <a href="https://www.facebook.com/aggiepolo">Facebook</a>
          <a href="https://www.instagram.com/tamupolo/">Instagram</a>
        </div>
      </div>
    </div>
  </div>
</div>


