<h1>Polo Club Members</h1>

<table class="table table-striped col-md-12" id="members">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>UIN</th>
      <th>Profile</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td>
          <%= member.std_first_name %>
        </td>
        <td>
          <%= member.std_last_name %>
        </td>
        <td>
          <%= member.telephone %>
        </td>
        <td>
          <%= member.email %>
        </td>
        <td>
          <%= member.uin %>
        </td>
        <td>
        <%= link_to "Profile", member_path(member) %>
        </td>
        <td>
        <%= button_to 'Edit', edit_member_path(member), method: 'get'%>
        </td>
        <td>
        <%= button_to 'Remove', member_path(member), method: 'delete', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a New Member", new_member_path %>
<div>Member count:  <%= @members.length %>
</div>

<%= render "pages/backhome" %>