<h1><em><%= @member.std_first_name %> <%= @member.std_last_name %></em> </h1>

<ul id="details">
  <li>
    Member Since:
    <%= @join_date %>
  </li>
  <li>
    UIN:
    <%= @member.uin %>
  </li>
  <li>
    Telephone:
    <%= @member.telephone %>
  </li>
  <li>
    Email:
    <%= @member.email %>
  </li>
</ul>

<table class="table table-striped col-md-12" id="members">
<thead>
  <tr>
    <th>Preferred Horses</th>
    <th>Add/Remove</th>
  </tr>
</thead>
<tbody>
    <%= render @member.riding_preferences %>
</tbody>
</table>


<h4><%= button_to 'Remove', @member, method:"delete", data: { confirm: 'Are you sure?' } %> </h4>

<%= link_to 'Add new riding preference', new_member_riding_preference_path(@member), :class => 'btn btn-primary' %>
<%= render "members/backmember" %>
<%= render "pages/backhome" %>